@import url('https://fonts.googleapis.com/css2?family=Inder&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inder", sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}